/* Board.css */

.container {
    /* max-width: 1200px; */
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-label {
    font-size: 1.2em;
    color: #333;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ddd;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border-color: #80E5A8;
    box-shadow: 0 0 0 0.2rem rgba(128, 229, 168, 0.25);
}

.table {
    margin-top: 20px;
    border-collapse: separate;
    /* 구분선을 제거하기 위해 변경 */
    border-spacing: 0;
    /* 셀 간격 제거 */
}

.table thead {
    background-color: #80E5A8;
    color: white;
}

.table th,
.table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table th {
    font-weight: bold;
}

.table tbody tr:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.table tbody td {
    border-bottom: 1px solid #ddd;
    /* 셀 구분선을 유지 */
}

.table tbody tr {
    border-bottom: 1px solid #ddd;
    /* 구분선을 셀 아래로 유지 */
    background-color: transparent;
    /* 배경색 제거 */
}

.button-write {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.button-write a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #80E5A8;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1em;
    font-weight: bold;
    transition: background-color 0.3s;
    /* 부드러운 색상 전환 */
}

.button-write a:hover {
    background-color: #66d09d;
}