/* comment.css */
.comment-container {
  width: 80%;
  padding: 20px;
  margin: auto;
  box-sizing: border-box;
}

.comment-list {
  margin-bottom: 20px;
}

.commentBox {
  margin: auto;
  text-align: left;
}

.commentBox .card-body {
  text-align: left;
}

.comment-text {
  text-align: left;
}
