.mypage_container {
  background: white;
  width: 100%;
  /* height: 100vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#mypage_container_left {
  /* background-color: white; */
  width: 50%;
  /* height: 80vh; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0px;
  box-sizing: border-box;
  margin-right: 30px;
}

#mypage_container_left_up {
  width: 400px;
  height: 36vh;
  border-radius: 35px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding-left: 10px;
  align-items: flex-start;
  border: 1px solid #ccc;
}

#mypage_container_logo_box {
  position: relative;
  width: 210px;
  height: 27vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 15px;
  align-items: center;
  margin-left: 10px;
}

#mypage_links {
  margin-left: 20px;
}

.mypage-link {
  display: block;
  margin-bottom: 10px;
  color: black !important;
  cursor: pointer;
}

#mypage_container_left_down {
  background-color: #d9d9d9;
  width: 400px;
  height: 42vh;
  border-radius: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#mypage_container_left_down_box {
  background-color: rgba(171, 171, 171, 1);
  width: 350px;
  height: 36vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#mypage_container_right {
  background-color: #d9d9d9;
  width: 450px;
  height: 80vh;
  border-radius: 35px;
  padding: 20px;
  box-sizing: border-box;
}

#mypage_container_left_down_hex {
  width: 300px;
  height: 259.8px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
#mypage_container {
  background: white;
  width: 1024px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#mypage_container_left {
  background-color: white;
  width: 400px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 0px;
  box-sizing: border-box;
  margin-right: 30px;
}

#mypage_container_right {
  background-color: whitesmoke;
  width: 460px;
  height: 80vh;
  border-radius: 35px;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #ccc
}

.right-content {
  height: 100%;
}

#mypage_container_left_down_hex {
  width: 340px;
  height: 294.44px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}
#mypage_container_left_down_hex { /* 그래프 */
  width: 242.48px;
  height: 280px;
  background-color: white;
  position: absolute;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  overflow: hidden;
}

#mypage_container_left_down_hex canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.point-labels {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none; /* 클릭 이벤트 방지 */
}

.mp-img {
  border-radius: 35px;
}